**/__pycache__/
__pycache__
*.pyc
*.env
*.env.example
*.env.local
*.env.staging
*.db
.db
.idea
*idea
**/_idea__/
*.venv
**/__.venv__/
.venv
.idea/
*.iml
/venv/
__pycache__/
*.log
*.swp
*pgdata
*rabbitmq
*redisdata
*.idea
.idea/encodings.xml
.idea/material_theme_project_new.xml
.idea/misc.xml
*.log
*.swp
*.txt
.txt
*.iml
.idea/
**/_idea__/